@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
body{
	font-family: "Montserrat";
}
.wrapper{
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.content{
	flex: 1 1 auto;
}
.first {
	background: url("../img/first/bgr_lu.png") left no-repeat;
	padding-top: 20px;


	&__body{
	}

	&__contacts {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #5477BB;
	padding: 0 0 19px 0;
	margin: 0 0 20px 0;
	}

	&__logo {
	}

	&__contactmenu {
		display: flex;
		align-items: center;

	}

	&__menu {
		display: flex;
		justify-content: space-between;
		margin: 0 0 73px 0;
	}

	&__about {
		display: flex;
		justify-content:space-between;
		margin: 0 0 43px 0;
		
	}

	&__tocontact {
		display: flex;
		background: #F69A1B;
		padding: 35px 98px;
		justify-content: space-between;
		align-items: center;
	}
}
.container {
	max-width: 1150px;
	margin: 0px auto;
}
.phone {
	text-align: center;
	align-self: center;
	background: url("../img/first/phone.png") no-repeat;
	padding: 3px 0 0 25.51px
}
.icons {
	height: 60px;
	width: 60px;
	border: #E8E8E8 1px solid;
}
.viber {
	background: url("../img/first/vb.png") center no-repeat;
	margin-left: 32px;
}
.tg {
	background: url("../img/first/tg.png") center no-repeat;
	margin-left: 11px;
}
.request {
	align-self: center;
	margin-left: 10px;
	width: 218px;
}
.btnblue {
	display: flex;
	align-items: center;
	background-color: #5477BB;
	color: #E8E8E8;
	height: 60px;
	justify-content: center;
}
.menu {

	&__item {
	}
}
.corange {
	color: #F69A1B;
}
.about {

	&__img {
	}

	&__text {
	}

	&__title {
		font-weight: 600;
		font-size: 56px;
		line-height: 70px;
		color: #303B40;
		margin: 0 0 71px 0;
	}
	&__column{

	}

	&__list {
		font-weight: 500;
		font-size: 16px;
		line-height: 40px;
	}
}
.list {

	&__item {
		background: url("../img/first/Ellipse.png") left no-repeat;
		padding: 0 0 2px 15px;
	}
}
.tocontact {

	&__text {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		color: #FFFFFF;
		max-width: 409px;
		
	}

	&__input {
		input{
			font-size: 16px;
			padding: 21px 97px 20px 20px;
		}
	}

	&__consultation {
		width: 198px;
	}
}
.about {
	
	

	&_command {
		background: url("../img/aboutus/bgr_upr.png") right no-repeat;
	
	}
}
.aboutus {
	display: flex;
	padding: 0px 99px;
	

	&__body {
		border-left:1px solid #E8E8E8;
	}
	&__content{
		padding: 99px 0 0 99px;
	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 54px;
		margin-bottom: 35px;
	}

	&__subtitle {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		text-transform: uppercase;
		color: #5477BB;
		margin-bottom: 36px;
	}

	&__firsttext {
		font-weight: 500;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 70px;
	}

	&__lasttext {
		display: flex;
		font-weight: 600;
		font-size: 16px;
		line-height: 32px;
		background: #F6F8F9;
		padding: 40px 99px;
		width: 950px;
		
	}
}

.command {
	display: flex;
	flex-direction: column;

	&__body {
		border-top: #E8E8E8 1px solid;
		border-bottom:#E8E8E8 1px solid;
		padding: 100px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 0 32px 0;
	}

	&__rowtext {
		font-weight: 600;
		font-size: 40px;
		line-height: 54px;
		color: #303B40;
	}

	&__rowbuttons {
		display: flex;
		justify-content: end;
	}

	&__buttonleft {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		background: #F6F8F9;
		border: 1px solid #E8E8E8;
	}

	&__buttonright {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		background: #5477BB;
	}

	&__subtitle {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		color: #5477BB;
		margin: 0 0 45px 0;
	}

	&__workersbody {
		display: flex;
		margin: 0 -15px;
		
	}

	&__workerscolumn {
		padding: 0 15px;
	}

	&__workersimg {
		margin: 0 0 18px 0;
	}

	&__workersname {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		text-align: center;
		margin: 0 0 10px 0;
	}

	&__workersproffesion {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #8C969A;
	}
}
.pursuit {
	display: flex;
	flex-direction: column;
	padding: 98px 0 0 0;
	background: url("../img/pursuit/bgr_ld.png") left no-repeat;

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 0 34px 0;
	}

	&__textbodyleft {
		flex: 0 0 656px;
	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 54px;
		color: #303B40;
		margin: 0 0 34px 0;
	}

	&__subtitle {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		text-transform: uppercase;
		color: #5477BB;
		margin: 0 0 49px 0;
	}

	&__texta {
		font-weight: 400;
		font-size: 20px;
		line-height: 32px;
		color: #303B40;
	}

	&__textbodyright {
		background: #F6F8F9;
		border: 1px solid #E8E8E8;
		width: 460px;
		height: 352px;
		

	}

	&__textbodyrigttitle {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		text-transform: uppercase;
		padding: 43px 0 0 67px;
		margin: 0 0 27px 0;
	}

	&__textbodyrightlist {
		padding: 0 0 0 69px;
	}

	&__listitem {
		padding-left: 18px;
		font-weight: 500;
		font-size: 16px;
		line-height: 40px;
		background: url("../img/pursuit/Ellipse.png") left no-repeat;
	}

	&__subtext {
		font-weight: 600;
		font-size: 28px;
		line-height: 44px;
		color:#303B40;
		margin: 0 0 114px 0;
	}
}

 .experience {
	height: 560px;
	background-image:url("../img/pursuit/bgrimg.png") ;
	background-repeat: no-repeat;
	background-size: 1354px 560px;
	background-position: 113px 100%;
	&__body {
		height: 560px;
		display: grid;
		grid-template-columns: 1fr 556px;
		grid-template-rows: 1fr 362px 1fr;
	}

	&__textarea {
		max-width: 556px;
		background: #F69A1B;
		padding: 56px 0 74px 0;
		grid-column: 2/3;
		grid-row: 2/3;

	}

	&__title {
		font-weight: 900;
		font-size: 60px;
		line-height: 60px;
		color: #FFFFFF;
		margin: 0 0 24px 0;
		padding-left: 61px;
	}

	&__text {
		font-weight: 600;
		font-size: 16px;
		line-height: 32px;
		color: #FFFFFF;
		padding-left: 67px;
		max-width: 500px;
	}
}
.container {
}
.services {
	margin: 0 0 100px 0;

	&__outsourcing {
		padding: 100px 0;
		border-bottom: 1px solid #E8E8E8;
		max-width: 1150px;
		margin: 0px auto;
	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 54px;
		color:#303B40;
		margin: 0 0 46px 0;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		
	}

	&__column{
		flex: 0 1 50%;
	}

	&__card {
		min-height:380px ;
		max-width: 550px;
		background: #F6F8F9;
		border: 1px solid #E8E8E8;
		margin: 0 0 30px 0;
		padding: 58px 0 0 0;
	}

	&__card-title {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		text-transform: uppercase;
		color:#303B40;
		padding-left: 59px;
		margin: 0 0 12px 0;
	}

	&__budgeting {
		span{
			background: url("../img/services/budgeting\ 1.png") left no-repeat;
			padding: 10px 0 10px 53px;
		}
	}

	&__cart-list {
		padding-left: 118px;
		font-weight: 500;
		font-size: 16px;
		line-height: 40px;
	}

	&__cart-listitem {
		background: url("../img/services/Ellipse.png") 0 50% no-repeat;
		padding-left: 18px;
	}

	&__contract {
		span{
			background: url("../img/services/contract\ 1.png") left no-repeat;
			padding: 10px 0 10px 53px;
	}
		}
	

	&__document {
		span{
			background: url("../img/services/document\ 1.png") left no-repeat;
			padding: 10px 0 10px 53px;
	}
	}

	&__examination {
		span{
			background: url("../img/services/examination\ 1.png") left no-repeat;
			padding: 10px 0 10px 53px;
	}
}
.longitem{
	background-position: 0 16px ;
	line-height: 20px;
}
}
.outsourcing {
	display: flex;
	

	&__body {
		max-width: 753px;
		margin: 0 29px 0 0;
	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 54px;
		margin: 0 0 47px 0;
	}

	&__text {
		font-weight: 400;
		font-size: 20px;
		line-height: 32px;
		margin: 0 0 48px 0;
	}

	&__subtext {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		text-transform: uppercase;
		color: #5477BB;
	}

	&__banner {
		display: flex;
		flex-direction: column;
		flex: 0 0 362px;
		background: #F69A1B;
		padding: 60px 0 72px 72px;
		position: relative;
	}

	&__bannernum {
		font-weight: 900;
		font-size: 90px;
		line-height: 70px;
		color: #FFFFFF;
		margin: 0 0 38px 0;
	}

	&__banner-text {
		font-weight: 600;
		font-size: 16px;
		line-height: 32px;
		color: #FFFFFF;
		max-width: 225px;
		
	}
}
.whomsuitable {
	padding: 75px 0 97px 0;

	&__body {
		display: flex;
		margin: 0px -15px;
	}
	&__column{
		flex: 0 0 50%;
		padding: 0 15px;
	}
	&__head {
		margin: 0 0 50px 0;
	}

	&__sect {
		border-left: 2px solid #5477BB;
		margin: 0 0 50px 0;
		padding-left: 41px;
	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 54px;
		margin: 0 0 21px 0;
		
	}

	&__subtitle {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		color: #5477BB;
		padding: 0 0 20px 0;
		text-transform: uppercase;
	}

	&__card {
	}

	&__card-title {
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		margin: 0 0 11px 0;
	}

	&__card-text {
		font-weight: 500;
		font-size: 16px;
		line-height: 28px;
	}
}
