@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat";
}

.first {
  background: url("../img/first/bgr_lu.png") left no-repeat;
  padding-top: 20px;
}
.first__contacts {
  display: flex;
  justify-content: space-between;
}
.first__contactmenu {
  display: flex;
}
.container {
  max-width: 1150px;
  margin: 0px auto;
}

.phone {
  text-align: center;
  align-self: center;
  background: url("../img/first/phone.png") no-repeat;
  padding: 3px 0 0 25.51px;
}

.icons {
  height: 60px;
  width: 60px;
  border: #E8E8E8 1px solid;
}

.viber {
  background: url("../img/first/vb.png") center no-repeat;
}

.tg {
  background: url("../img/first/tg.png") center no-repeat;
}

.request {
  align-self: center;
}

.btnblue {
  display: flex;
  align-items: center;
  background-color: #5477BB;
  color: #E8E8E8;
  height: 60px;
  width: 218px;
  justify-content: center;
}